html, body {
	margin: 0;
	padding: 0;
	
	width: 100%;
	min-height: 10%;
}

body {
	background: #EEE;
}

#topbar {
	width: 100%;
	height: 60px;
	
	background: #2a9b70;
}

#topbar .logo {
	height: 100%;
	width: 50%;
	margin: auto;
	
	background: url(../img/logo-top.png) center no-repeat;
}

.container {
	width: 90%;
	margin: auto;
	margin-top: 50px;
}

.ptitle {
	display: block;
	width: 100%;
	text-align: center;
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.pdesc {
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.gamecode {
	width: 80%;
	height: 70px;
	
	margin: auto;
	margin-top: 100px;
	margin-bottom: 30px;
	display: block;
	
	text-align: center;
	
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

.button {
	display: block;
	width: 100%;
	height: 40px;
	
	margin-top: 10px;
	
	background: #2a9b70;
	border: none;
	border-radius: 3px;
	
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	
	cursor: pointer;
}
.button:hover {
	background: #25805d;
}

.loader {
	display: block;
	width: 100px;
	height: 100px;
	margin: auto;
	
	text-align: center;
	line-height: 100px;
	vertical-align: middle;
}

.spacer {
	display: block;
	width: 100%;
	height: 10px;
}

.spacer.s50 {
	height: 50px;
}
.spacer.s100 {
	height: 100px;
}