<h1 class="ptitle">Esperando partida</h1>

<p class="pdesc">Aguarde enquanto a partida não começa!</p>

<div class="spacer s100"></div>

<div class="loader">
	<i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
</div>